@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-2 .navbar-toggler {
  color: #000;
}
#slider-8 H2 {
  color: #fbfbfb;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#content1-c P {
  text-align: center;
}
